body {
    background: #e3f2fd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-top: 50px;
  }
  
  .container {
    width: 300px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px;
    filter: drop-shadow( rgb(75, 75, 112) 1px 1px 20px );
  }

  input , button{
    filter: drop-shadow( blue 1px 1px 2px );
    
  }

  