@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color:rgb(74, 121, 149);
    font-family: "nunito";
    text-align: center;
    padding-top: 50px;
   
  }
  
  .container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px;
    filter: drop-shadow( rgb(75, 75, 112) 1px 1px 20px );
  }
  .container2{
    font-family: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #result{
    margin: 12px;
    border-radius: 13px;
    border: 2px solid rgb(74, 121, 149) ;
    padding: 10px;
  }

  input , button{
    font-family: inherit;
    /* filter: drop-shadow( blue 1px 1px 2px ); */
    margin: 8px;
    padding: 8px;
  }
  input[type = "text"]{
    text-align: center;
    border-radius: 10px;
    fill:rgb(74, 121, 149);
    caret-color:rgb(74, 121, 149);
    color:inherit;
    background: none;
    width: 100%;
  }
button{
  font-weight: 600;
  border-radius: 10px;
}
  